*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    font-family: Arial, sans-serif;
    color: #000000;
    min-height: 100vh;
}

header{
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
    font-family: fantasy;
}

main{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

#adicionarTask{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#adicionarTask input{
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#adicionarTask h2, #listarTask h2{
    margin-bottom: 20px;
    text-align: center;
}

#adicionarTask button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#listarTask{
    width: 100%;
    padding: 20px 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.task input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
}